<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application
        android:name=".app.HotShots"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/HotShots.ActionBar"
        tools:targetApi="31">

        <service android:name=".activity.debug.DebugService" />

        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.HotShots">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.auth.UnlockActivity"
            android:theme="@style/Theme.HotShots" />
        <activity
            android:name=".activity.auth.AuthActivity"
            android:theme="@style/Theme.HotShots" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.HotShots" />
        <activity
            android:name=".activity.posts.CreatePostActivity"
            android:theme="@style/Theme.HotShots" />
        <activity
            android:name=".activity.albums.CreateAlbumActivity"
            android:theme="@style/Theme.HotShots" />
        <activity
            android:name=".activity.debug.DebugActivity"
            android:theme="@style/Theme.HotShots" />
        <activity
            android:name=".settings.SettingsActivity"
            android:theme="@style/Theme.HotShots" />
        <activity
            android:name=".activity.browser.BrowserActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.HotShots" />
        <activity
            android:name=".activity.influencers.AddInfluencerActivity"
            android:theme="@style/Theme.HotShots" />
        <activity
            android:name=".activity.influencers.AlbumsListActivity"
            android:theme="@style/Theme.HotShots" />
        <activity
            android:name=".activity.posts.BigPictureSlideActivity"
            android:theme="@style/Theme.HotShots" />
    </application>
</manifest>